/***********************************
   WOOCOMMERCE CUSTOM STYLES
************************************/
/* font and color variables */

:root {
	--black: #2d2d2d;
	--white: #ffffff;
	--dark-black: #383838;
	--light-gray: #9f9f9f;
	--lighter-gray: #efefef;

	--headings-font: 'Harmonia Sans', Tahoma, Verdana, Segoe, sans-serif;
	--body-font: 'AvenirNextLTW04-Light', 'Helvetica Neue', Helvetica, Arial;
}

/* single product page */

.woocommerce-Reviews-title,
.related h2 {
	font-size: 2.8rem;
	margin-bottom: 1rem;
}

.categories a,
.tags a {
	text-decoration: underline;
}

/* my account page */

.woocommerce-MyAccount-navigation ul {
	padding: 0;
}

.woocommerce-MyAccount-navigation ul li {
	list-style: none;
}

.woocommerce-MyAccount-navigation ul li:not(:first-child) {
	margin-top: 1em;
}

.woocommerce-MyAccount-navigation {
	padding-bottom: 5rem;
}

/* blog single page */
.categories,
.tags {
	padding: 1rem 0;
}

.textwidget {
	margin-top: 2rem;
}

/* .widget_recent_entries {
	padding: 4rem 0;
} */

/* blog widgets */

.widget_recent_entries ul li:not(:first-child) {
	margin-top: 1em;
}

.widget_recent_entries ul li span {
	display: block;
	margin-top: 1rem;
	font-size: 1.2rem;
	color: var(--light-gray);
}

.widget_recent_entries ul li {
	border-bottom: 1px solid var(--lighter-gray);
	padding: 1rem 0;
}

.textwidget {
	margin-bottom: 3rem;
}

.widget-title {
	margin-bottom: 3rem !important;
}

/* header widget currency */

.header__cr-switcher .dd-select,
.header__cr-switcher .dd-options {
	width: 30% !important;
	background: none !important;
}

/* button styles  */
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
	background: var(--black) !important;
	width: 100%;
	padding: 1.5rem 3rem;
	margin-top: 2rem;
}
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
	background: var(--black) !important;
}

/* product style homepage */

.woocommerce ul.products li.product a img:hover {
	transform: scale(1.05);
	transition: all 0.3s ease;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title,
.woocommerce ul.products li.product .woocommerce-loop-product__title,
.woocommerce ul.products li.product h3 {
	font-family: var(--body-font);
	font-weight: normal;
	text-transform: none;
	padding: 1em 0 0.5em 0;
}

.woocommerce ul.products li.product .star-rating {
	display: inline-block;
	margin: 0 auto;
	margin-bottom: 1rem;
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
	text-align: center;
}

/* single page product */

@media screen and (min-width: 1024px) {
	.woocommerce #content div.product div.images,
	.woocommerce div.product div.images,
	.woocommerce-page #content div.product div.images,
	.woocommerce-page div.product div.images {
		width: 58%;
	}

	.woocommerce #content div.product div.summary,
	.woocommerce div.product div.summary,
	.woocommerce-page #content div.product div.summary,
	.woocommerce-page div.product div.summary {
		width: 38%;
	}
}

.woocommerce .products ul,
.woocommerce ul.products {
	padding: 0 0 0rem;
}

.woocommerce ul.products[class*='columns-'] li.product {
	margin-bottom: 3rem;
}

.woocommerce #reviews #comments ol.commentlist {
	padding: 0;
}

.close-icon {
	background: url(http://www.envy-copenhagen.com/wp-content/themes/envy-copenhagen/assets/img/close-white-18dp.svg);
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	border: 2px outset var(--lighter-gray);
	box-sizing: border-box;
	position: absolute;
	top: 0;

	right: 0;
	padding: 0.8rem 1rem;
}
