/***********************************
   WOOCOMMERCE CUSTOM STYLES
************************************/

/* single product page */

.woocommerce-Reviews-title,
.related h2 {
	font-size: 2.8rem;
	margin-bottom: 1rem;
}

.categories a,
.tags a {
	text-decoration: underline;
}

/* my account page */

.woocommerce-MyAccount-navigation ul {
	padding: 0;
}

.woocommerce-MyAccount-navigation ul li {
	list-style: none;
}

.woocommerce-MyAccount-navigation ul li:not(:first-child) {
	margin-top: 1em;
}

.woocommerce-MyAccount-navigation {
	padding-bottom: 5rem;
}

/* blog single page */
.categories,
.tags {
	padding: 1rem 0;
}

.textwidget {
	margin-top: 2rem;
}

/* .widget_recent_entries {
	padding: 4rem 0;
} */

.widget_recent_entries ul li:not(:first-child) {
	margin-top: 1em;
}

.widget_recent_entries ul li span {
	display: block;
	margin-top: 1rem;
	font-size: 1.2rem;
	color: #9f9f9f;
}

.widget_recent_entries ul li {
	border-bottom: 1px solid #efefef;
	padding: 1rem 0;
}

/*  */

.header__cr-switcher .dd-select,
.header__cr-switcher .dd-options {
	width: 50% !important;
	background: none;
}
