.blog-post {
	display: grid;
	> h1 {
		grid-column: 1/ -1;
		text-align: center;
	}

	&__title {
		margin-top: 3rem;
		margin-bottom: 1rem;
	}

	&__content {
		> a {
			text-decoration: underline;
		}
	}
	@include tablet-portrait {
		grid-template-columns: 1fr 1fr;
		grid-gap: 3rem;
	}
}
